<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.mad_project_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProject1">
        <activity
            android:name=".fragment_bags"
            android:exported="false" />
        <activity
            android:name=".fragment_shoes"
            android:exported="false" />
        <activity
            android:name=".fragment_jewellery"
            android:exported="false" />
        <activity
            android:name=".AdminProductView"
            android:exported="false" />
        <activity
            android:name=".SingleProduct"
            android:exported="false" />
        <activity
            android:name=".BuyNow"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.MADProject1.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Reset_Password"
            android:exported="false" />
        <activity
            android:name=".Edit_Profile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainFirst"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>